.order-image{
    max-height: 150px;
    max-width: 150px;
}

ul.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.menu-list li {
    float: left;
}

ul.menu-list li.right{
    float: right;
}

ul.menu-list li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.menu-list li a:hover:not(.active) {
    background-color: #111;
}

.top-buffer { margin-top:20px; }
.left-buffer{ margin-left:20px; }


.center{
    text-align: center;
}
.right{
    float: right;
}

.footer{
    background-color: #333;
    color: #ffffff;
}

#item-count-holder{
    float:right;
    margin-left: 5px;
}
#item-count{
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px;
}

#profile-id{
    color: #ff0000;
    padding: 10px;
}

#user-name{
    color: #1CB94A;
    padding:10px;
}

.info-text{
    color: #2aabd2;
}